body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #111;
  background-color: #fbfbfb;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  display: block;
  margin-bottom: 25px;
  background-color: white;
  padding: 0 0 5px 5px;
  border-radius: 3px;
}

small {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 2px;
  color: #888;
}

small a {
  position: relative;
  top: -1px;}

.underline {
  text-decoration: underline;
}

.main {
  max-width: 700px;
  margin: auto;
  padding: 5px 20px;
  font-size: 1em;
}

.main h1 {
  margin: 25px 0;
}

.main p {
  text-align: justify;
}

.main h1, .main h2, .main h3 {
  text-align: center;
}

strong:not(.ok), h1, h2, h3 {
  /*color: rgb(196, 15, 39);	*/
  background: -webkit-linear-gradient(80deg, rgb(196, 15, 39), rgb(245, 91, 20));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

strong {
  font-size: 1.05em;
}

strong.ok {
  color: rgb(86, 97, 129);
}

.search {
  max-width: 600px;
  margin: auto;
  padding: 5px 25px;
  font-size: 1.1em;
  text-align: center;
}

.search p {
  width: 100%;
}

input, select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
}

input:active, input:focus, select:active, select:focus {
  outline: none !important;	
  border: 1px solid rgb(196, 15, 39) !important;
}

.disclaimer {
  font-size: 0.5em;
  color:rgba(0, 0, 0, 0.5)
}


.table {
  max-width: 1000px;
  margin: auto;
  padding: 5px 15px;
}



table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table thead tr {
  background: -webkit-linear-gradient(80deg, rgb(196, 15, 39), rgb(224, 61, 20));
  color: #ffffff;
  text-align: left;
}
table th,
table td {
  padding: 10px 12px;
}

table th:not(:first-child),
table td:not(:first-child) {
  text-align: center;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(196, 15, 39);	
}

@media (max-width: 600px) {
  table th {
    padding: 8px 10px;
  }
  table td {
    padding: 6px 8px;
  }
  
  .table {
    padding: 5px 0px;
  }

  .main {
    padding: 5px 15px;
  }
}

td.procent {
  font-weight: bold;
  font-size: 1.1em;
  font-style: italic;
  color:rgb(86, 97, 129);
}

td.procent.red {
  color: rgb(196, 15, 39);	
}

td.procent.free, 
td.procent.red.free {
  color: rgb(184, 184, 184);	
}

td.ime {
  font-size: 1.05em;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a.selected {
  font-weight: bold;
}



#created-by {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 0.8em;
	color: #888;
	line-height: 1.5;
  text-align: center;
}

#created-by p {
  margin: 0 5px;
}

#created-by a {
	color: #777;
	font-weight: bold;
}
